:root {
  --primary-color: #007BFF;
  --primary-hover: #0056b3;
  --background-color-light: #f4f4f4;
  --background-color-dark: #121212;
  --text-color-light: #333;
  --text-color-dark: #e0e0e0;
  --input-border-color: #ccc;
  --input-focus-border-color: var(--primary-color);
  --input-background-light: #fff;
  --input-background-dark: #1e1e1e;
  --button-background: var(--primary-color);
  --button-hover-background: var(--primary-hover);
  --table-background-light: var(--input-background-light);
  --table-background-dark: #2b2b2b;
  --table-header-background: var(--primary-color);
  --table-row-hover-background-light: #f1f1f1;
  --table-row-hover-background-dark: #3c3c3c;
  --input-border-dark: #444;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  margin-bottom: 10px;
  color: var(--primary-color);
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px var(--shadow-color);
}

input[type="text"],
button {
  font-size: 16px;
  border-radius: 8px;
  transition: 0.3s;
}

input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-light);
}

input[type="text"]:focus {
  border-color: var(--input-focus-border-color);
  box-shadow: 0 0 5px var(--primary-color);
  outline: none;
}

button {
  padding: 12px 24px;
  border: none;
  background-color: var(--button-background);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: var(--button-hover-background);
  transform: translateY(-2px);
}

#output {
  display: none;
  margin-top: 20px;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  background-color: var(--table-background-light);
  box-shadow: 0 2px 10px var(--shadow-color);
  font-family: 'Courier New', Courier, monospace;
  overflow-y: auto;
  transition: background-color 0.3s, color 0.3s;
}

#output.visible {
  display: block;
}

#output.subnet-info {
  max-width: 1200px;
}

.tables-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.table-container {
  flex: 1;
}

.output-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--table-background-light);
  box-shadow: 0 2px 10px var(--shadow-color);
}

.output-table thead {
  background-color: var(--table-header-background);
  color: #fff;
}

.output-table th,
.output-table td {
  padding: 15px;
  text-align: left;
}

.output-table tbody tr:hover {
  background-color: var(--table-row-hover-background-light);
}

/* Dark Mode */
body.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

body.dark input[type="text"] {
  background-color: var(--input-background-dark);
  border-color: var(--input-border-dark);
  color: var(--text-color-dark);
}

body.dark button {
  background-color: var(--button-background);
}

body.dark button:hover {
  background-color: var(--button-hover-background);
}

body.dark #output {
  background-color: var(--input-background-dark);
  border-color: var(--input-border-dark);
  color: var(--text-color-dark);
}

body.dark .output-table {
  background-color: var(--table-background-dark);
  color: var(--text-color-dark);
}

body.dark .output-table thead {
  background-color: var(--table-header-background);
}

body.dark .output-table tbody tr:hover {
  background-color: var(--table-row-hover-background-dark);
}

.moon-icon {
  margin-right: 8px;
}

/* Set tables in tables-container vertically on screens smaller than 1024px */
@media (max-width: 1024px) {
  .tables-container {
    flex-direction: column;
  }
}